.superhero {
  background-color: #f1f1f1;
  padding: 10px;
}
.superhero h2 {
  text-align: center;
}

.superhero img {
  width: 10vw;
  margin: 0 auto;
  border-radius: 100%;
  display: block;
  object-fit: cover;
}
/* .style {
  white-space: pre-line;
} */

.read-more {
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline;
}
.read-more:hover {
  color: #ed1d24;
}
